{$PAPERWISE_SITE_ADDRESS:localhost:8080} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:8000 {
			header_up Host 127.0.0.1
		}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
